<link rel="stylesheet" href="modules/custom/exchange_block/css/exchange-block.css">

<div class="card">
    <div class="container">
        <h1><b>1 {{ currency_to }} = {{ result }} {{ currency_from }}</b></h1>
        <p> <b>Güncelleme Tarihi:</b> {{ update_date }}</p>
    </div>
</div>